/* {
  "window.autoDetectColorScheme": false
} */
@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
    font-style: italic;
  }
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

@import "tailwindcss";

html {
  max-width: 704px;
  justify-self: center;
}
.dark {
  background-color: #01182e;
  color: white;
}